div1{width:200px;position:relative;margin:auto;border:1px solid grey;background-color:black;}
		.div2{padding: 15px;}
		.button
		{
			height:50px;
			width:80px;
			border:none;
			background-color:green;
			color:white;
			text-align:center;
			font-weight:bold;
		}
		img{display:block;margin-left:auto;margin-right:auto;}
       